<!-- golang template for arc42 usage statistics table -->
<!-- with addons to make it sortable with DataTables -->
<table id="sortableStatsTable" class="display">
    <caption class="visually-hidden">
        Visitors, page views and open repository tasks per arc42 site.
        Availability is not measured yet, so every site shows "not monitored".
    </caption>
    <thead>
    <tr>
        <!-- the gopher is decoration; the column still needs a name for
             screen readers and for the DataTables sort control -->
        <th rowspan="2" scope="col"><img src="/images/minion-logo-100px.png" alt=""><span class="visually-hidden">Site</span></th>
        <th rowspan="2" scope="col" class="border-left-black text-center">Status</th>
        <th colspan="2" scope="colgroup" class="border-left-black text-center">7 Days</th>
        <th colspan="2" scope="colgroup" class="border-left-black text-center">30 Days</th>
        <th colspan="2" scope="colgroup" class="border-left-black text-center">12 Month</th>
        <th colspan="3" scope="colgroup" class="border-left-black text-center">Open Tasks</th>
    </tr>
    <tr>
        <th scope="col" class="border-left-black">Visitors</th>
        <th scope="col">PageViews</th>
        <th scope="col" class="border-left-black">Visitors</th>
        <th scope="col">PageViews</th>
        <th scope="col" class="border-left-black">Visitors</th>
        <th scope="col">PageViews</th>
        <th scope="col" class="border-left-black">Issues</th>
        <th scope="col">Bugs</th>
        <th scope="col">PRs</th>
    </tr>
    </thead>

    <tbody>

    {{ range .Stats4Site }}
        <tr>
            <th scope="row"><a href="https://{{.Site }}">{{.Site}}</a></th>
            <td class="status-cell border-left-black">
                <span class="status-token status-token--unmonitored" role="img" aria-label="availability not monitored"></span>
            </td>
            <td class="border-left-black">{{ .Visitors7d}}</td>
            <td>{{ .PageViews7d}}</td>
            <td class="border-left-black">{{ .Visitors30d}}</td>
            <td>{{ .PageViews30d}}</td>
            <td class="border-left-black">{{ .Visitors12m}}</td>
            <td>{{ .PageViews12m}}</td>
            <td class="border-left-black">
                <a href="{{.Repo}}/issues">{{.NrOfOpenIssues}}</a>
            </td>
            <td >
                {{if (gt .NrOfOpenBugs 0)}}
                    <a href="{{.Repo}}/issues">{{.NrOfOpenBugs}}</a>
                {{end}}
            </td>
            <td >
                {{if (gt .NrOfOpenPRs 0)}}
                    <a href="{{.Repo}}/pulls">{{.NrOfOpenPRs}}</a>
                {{end}}
            </td>
        </tr>
    {{ end }}
    </tbody>

    <tfoot> <tr>
        <th scope="row" class="border-top text-right">Totals:</th>
        <td class="border-top border-left-black"></td>
        <td class="border-top border-left-black text-right">{{ .Totals.SumOfVisitors7d}}</td>
        <td class="border-top text-right">{{ .Totals.SumOfPageViews7d}}</td>
        <td class="border-top border-left-black text-right">{{ .Totals.SumOfVisitors30d}}</td>
        <td class="border-top text-right">{{ .Totals.SumOfPageViews30d}}</td>
        <td class="border-top border-left-black text-right">{{ .Totals.SumOfVisitors12m}}</td>
        <td class="border-top text-right">{{ .Totals.SumOfPageViews12m}}</td>
        <td class="border-top border-left-black text-right">{{ .Totals.TotalNrOfIssues}}</td>
        <td class="border-top text-right">{{ .Totals.TotalNrOfBugs}}</td>
        <td class="border-top">{{ .Totals.TotalNrOfPRs}}</td>
    </tr> </tfoot>
</table>


<br>
<div style="font-size: 12px; padding-bottom: 14px;">
    Data collected in {{ .HowLongDidItTake }} msecs by arc42 statistics service
    (v. {{.AppVersion}}) at {{.LastUpdatedString }}
    running {{if .FlyRegion}}
        on <a href="https://fly.io" target="_blank"> fly.io </a>
        in {{.WhereDoesItRun}} (region {{.FlyRegion}})
    {{ else }}
        {{.WhereDoesItRun}}
    {{ end}}
</div>
