<!-- start custom head snippets -->

<script src="https://kit.fontawesome.com/d7c33eb127.js" crossorigin="anonymous"></script>

<!-- plausible, to collect statistics -->
<script defer data-domain="status.arc42.org" src="https://plausible.io/js/script.js"></script>

<!-- htmx, see https://htmx.org/docs/#installing -->
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
td {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

tr:nth-child(2n+3) {
            background-color: #dddddd;
        }

</style>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->