<!-- start custom head snippets -->

<script src="https://kit.fontawesome.com/d7c33eb127.js" crossorigin="anonymous"></script>

<script defer data-domain="status.arc42.org" src="https://plausible.io/js/script.js"></script>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
td {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

tr(nth-child(2n+3) {
            background-color: #dddddd;
        }

</style>
<!-- end custom head snippets -->