name: arc42 site usage statistics
on:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./go-app

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          GITHUB_API_KEY: ${{ secrets.GRAPHQL_API_TOKEN }}
