<h2>Hello from arc42 statistics server</h2>

<h3>Details of this request</h3>

<ul>
   <li>Host: {{ .Host }}</li>
   <li>RequestURI: {{ .RequestURI }}</li>
   <li>RemoteAddr: {{ .RemoteAddr }}</li>
   <li></li>
</ul>
